a:focus{
        background-color: #000000;
        border:4px dashed darkorange;
        color: #FFFFFF;
        /* outline: 4px dashed darkorange; */
        
       
}


input:focus:required:invalid {
        background: pink url(ico_validation.png) 379px 3px no-repeat;
      }
      input:required:valid {
        background-color: #fff;
        background-position: 379px -61px;
      }